body{
    background-color: azure;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
}
